body {
font-family: "Poppins", sans-serif;
}
#root {
max-width: 28rem;
margin: 0 auto;
}
/* .contact_list {
border: solid 1px gray;
border-radius: 8px;
padding: 8px;
} */
.contact_item {
border: solid 1px black;
border-radius: 8px;
display: flex;
padding: 8px;
margin-bottom: 8px;
box-shadow: 5px 5px black;
}
.contact-item_image {
width: 70px;
height: 70px;
}
.contact-item_image > img {
border-radius: 9999px;
object-fit: cover;
width: 100%;
}
.contact-item_body > h3 {
margin: 0px;
}
.contact-item_body {
margin-left: 10px;
}
.contact-item_body > p {
margin: 0px;
}
